<div class="w-75 p-3">

<h2>О нас</h2>
<p>сеть салонов парикмахерских <b>Barber shop</b>, открыты круглосуточно!</p>

<table class="table table-striped">

        <caption>
          <font style="vertical-align: inherit;">
            Расписание работы парикмахерской
          </font>
        </caption>

        <thead>
          <tr>
              <th>День</th>
              <th>Время работы</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>Понедельник</td>
              <td>08:00 - 18:00</td>
          </tr>

          <tr>
              <td>Вторник</td>
              <td>08:00 - 18:00</td>
          </tr>

          <tr>
              <td>Среда</td>
              <td>08:00 - 18:00</td>
          </tr>

          <tr>
              <td>Четверг</td>
              <td>08:00 - 18:00</td>
          </tr>

          <tr>
              <td>Пятница</td>
              <td>08:00 - 18:00</td>
          </tr>

          <tr>
              <td>Суббота</td>
              <td>10:00 - 18:00</td>
          </tr>

          <tr>
              <td>Воскресенье</td>
              <td>10:00 - 18:00</td>
          </tr>

        </tbody>
      </table>
</div>
