<dev class="w-75 p-3">
<h2>Страница админа</h2>
<br/>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum sapien eget diam tempor pellentesque. Morbi blandit arcu est, a feugiat urna pulvinar vitae. Aenean vel libero porttitor, pulvinar enim in, consectetur est. Quisque sagittis tortor massa, id tristique dolor vehicula quis. Aenean maximus nunc id lobortis ultricies. Etiam blandit ante vitae velit imperdiet cursus. Donec cursus magna tellus, posuere aliquam metus tempor a. Ut nec tempus nisi, eu eleifend eros.</p>

</dev>
