<div class="w-50 p-3">
<h2>Контакты</h2>

<form action="/contacts" method="POST">
<div class="form-group">
    <label>Ваш email адрес</label>
    <input name="mail" type="email" class="form-control" placeholder="Введите свой почтовый адрес">
    <br/>
    <label>Введите сообщение</label>
    <textarea name="textbox" type="text" class="form-control" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 101px;"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</div>
